# AWS
aws_region = "ap-southeast-1" # Singapore

# VPC
vpc_cidr       = "10.0.0.0/16"
public_subnets  = ["10.0.1.0/24"]
private_subnets = ["10.0.2.0/24", "10.0.3.0/24"]

# EC2 Instances
frontend_instance_type = "t2.xlarge" # 16 GB RAM
backend_instance_type  = "t2.xlarge" # 16 GB RAM
bastion_instance_type  = "t3.micro"  # 1 GB RAM lightweight SSH

# Database EC2
db_instance_type = "t2.xlarge" # 16 GB RAM

# AMI ID for EC2 instances
ami_id = "ami-0a56f8447277affd8"

# Your public IP dynamically
my_ip_cidr = "27.147.204.248/32"

# Key Pair Name 
key_name = "shefat-devops"